@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color-scheme: dark;
}

body {
  background: radial-gradient(circle at top, #1c1c26 0%, #0b0b0f 45%, #050507 100%);
  color: white;
}
